[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.6.9"

[packages]
Flask = "==1.0.2"
flask-sslify = "==0.1.5"
typing = "==3.6.2"
tinydb = "*"
werkzeug = "*"
boto3 = "*"
