<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>Unofficial UBC Courses REST API</title>
</head>
<body>
<h1>Unofficial UBC Courses REST API</h1>
<h3 class="{{ status }}" >Current Status: {{ status }} </h3>
<h3>Version: {{ version }}</h3>
<div>
    <h4>Commands:</h4>
    <p>Base URL: https://arashout.pythonanywhere.com </p>
    <table style="width:100%">
        <tr>
            <th>METHOD</th>
            <th>COMMAND</th>
            <th>PARAMETERS</th>
            <th>RESPONSE</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/course/<strong>course_code</strong> </td>
            <td>course_code : string <br> e.g. MATH 307 </td>
            <td>course_object : {'code', 'name'} <br> e.g. {'code' : 'MATH 307', 'name' : 'Applied Linear Algebra'}</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/courses?c0=<strong>course_code0</strong>&#38;c1=<strong>course_code1</strong> (...)</td>
            <td>course_code : string <br> e.g. MATH 307 </td>
            <td>course_object array : {'code', 'name'}[] <br> e.g.
                [
                {'code' : 'MATH 307', 'name' : 'Applied Linear Algebra'},
                {'code' : 'PHYS 170', 'name' : 'Mechanics I'},
                ]
            </td>
        </tr>
    </table>
</div>
</body>
</html>